.container-cases {
  width: 14%;
  background-color: #ffc107;
  border-radius: 10px;
  border: 5px solid #ffab00;
  box-shadow: 0 6px 6px -6px var(--box-shadow);
}

.container-deaths {
  width: 14%;
  background-color: #e53935;
  border-radius: 10px;
  border: 5px solid #c72407;
  box-shadow: 0 6px 6px -6px var(--box-shadow);
}

.container-vaccines {
  width: 14%;
  background-color: #0cc705;
  border-radius: 10px;
  border: 5px solid #069218;
  box-shadow: 0 6px 6px -6px var(--box-shadow);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardInfo h1 {
  color: white;
  font-size: 150%;
}

.cardInfo hr {
  width: 100%;
  color: black;
  border: 1px solid var(--white);
}

.cardInfo p {
  font-size: 150%;
  font-weight: bold;
  color: var(--white);
}

@media (max-width: 1080px) {
  .container-cases {
    width: 80%;
    margin: 1rem;
  }

  .container-deaths {
    width: 80%;
    margin: 1rem;
  }

  .container-vaccines {
    width: 80%;
    margin: 1rem;
  }
}
