.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--header-background);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  color: var(--white);
}

.profile {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.source {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.source img {
  margin-left: 10px;
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column;
  }

  .profile {
    margin-bottom: 1.5rem;
  }
}
