.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.2rem;
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
