.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.container {
  background-color: var(--header-background);
  box-shadow: 0 6px 6px -6px var(--box-shadow);
}

.container img {
  width: 5vh;
  height: 5vh;
  margin-right: 5px;
}

.container h1 {
  color: var(--title);
}

.DarkModeButton {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

@media (max-width: 1080px) {
  .container {
    justify-content: start;
  }

  .container h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 940px) {
  .container {
    justify-content: start;
  }

  .container h1 {
    font-size: 1.2rem;
  }
}
