.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.container {
  background-color: var(--header-background);
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 5vh;
  height: 5vh;
  margin-right: 5px;
}

.container h1 {
  color: var(--title);
  font-size: 2.5rem;
  font-weight: 300;
}

.DarkModeButton {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

@media (max-width: 940px) {
  .container h1 {
    font-size: 2rem;
  }
}
