.chartContainer {
  display: flex;
  flex-direction: row;
  padding: 2vh;
  justify-content: center;
  align-items: center;
}

.chartArea {
  width: 50%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--chart-background);
  box-shadow: 0 6px 6px -6px var(--box-shadow);
}

@media (max-width: 1080px) {
  .chartContainer {
    flex-direction: column;
  }

  .chartArea {
    width: 100%;
  }
}
